body {
    color: #222222;
}

/* UTILITIES */
.text-primary {
    color: #15749d !important;
}

.bg-primary {
    background-color: #15749d !important;
}

.btn {
    padding: 16px 32px !important;
    font-size: 14px;
}

.btn-primary {
    background-color: #15749d !important;
    border-color: #15749d !important;
    transition: background-color .3s;
}

.btn-primary:hover {
    background-color: #126487 !important;
    border-color: #126487 !important;
}

/* NAV */
.navbar .nav-link {
    transition: color .3s;
}

/* HEADINGS */
h1 {
    font-size: 40px;
    font-weight: 100;
    line-height: 48px;
}

h2 {
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
}

h3 {
    font-size: 32px;
    line-height: 36px;
}

/* SERVICES */
.services {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.services h3 {
    font-weight: 400;
}

.services .scrolling-wrapper {
    overflow-x: auto;
}

/* ABOUT */
.about {
    font-size: 25px;
    line-height: 48px;
    background-color: #F2F2F2;
}

.about h3 {
    font-weight: 300;
}

/* PRODUCTS */
.products {
    font-size: 14px !important;
}

.products h3 {
    font-weight: 400;
}

.products h4 {
    font-size: 18px !important;
    font-weight: 600;
}

/* CONTACT */
.contact {
    font-size: 16px !important;
}

.contact h3 {
    font-weight: 200;
}

.contact ul li {
    font-size: 18px !important;
    font-weight: 300;
}

/* LINKS */
.links {
    background-color: #f7f7f7;
    font-size: 14px;
}

.links .nav-link {
    color: #222222;
}


.links h5 {
    font-size: 18px;
}

/* FOOTER */
footer {
    border-top: 1px solid #DDDDDD !important;
    background-color: #f7f7f7;
    font-size: 14px;
}

footer .nav-link {
    color: #222;
}

@media only screen and (max-width: 600px) {

    /* NAV */
    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-nav .nav-link {
        font-size: 24px;
    }

    .vh-sm-100 {
        height: 100vh;
    }

    .navbar-nav .btn {
        font-size: 15px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .btn-sm-block {
        display: block;
        width: 100%;
    }

    .px-sm-custom-5 {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media only screen and (min-width: 768px) {

    /* NAV */
    .navbar .navbar-brand img {
        width: 115px !important;
    }

    /* HEADINGS */
    h2 {
        font-size: 18px;
        line-height: 30px;
    }

    h3 {
        font-size: 28px;
        line-height: 34px;
    }

    /* TOP FOLD */
    main.hero {
        background-image: url("../images/hero-img.jpg");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .vh-md-100 {
        height: 100vh !important;
    }

    /* SERVICES */
    .services {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }

    .services h3 {
        font-weight: 300;
    }

    /* ABOUT */
    .about {
        font-size: 20px;
        font-weight: 100;
        line-height: 35px;
        background-image: url("../images/hero-img-about.jpg");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .about h3 {
        font-weight: 100;
    }

    /* PRODUCTS */
    .products {
        font-size: 14px !important;
    }

    .products h3 {
        font-weight: 300;
    }

    .products h4 {
        font-size: 18px !important;
        font-weight: 600;
    }

    .products .card-footer {
        height: 100%;
    }

    /* CONTACT */
    .contact {
        font-size: 16px !important;
    }

    .contact h3 {
        font-weight: 200;
    }

    .contact ul li {
        font-size: 18px !important;
        font-weight: 300;
    }
}

@media only screen and (min-width: 992px) {

    /* NAV */
    .navbar .navbar-brand img {
        width: 205px !important;
    }

    /* HEADINGS */
    h3 {
        font-size: 28px;
    }

    /* TOP FOLD */
    h1 {
        font-size: 46px;
    }

    /* SERVICES */
    .services h3 {
        font-size: 37px;
    }

    /* ABOUT */
    .about {
        font-size: 26px;
        line-height: 46px;
    }

    .about h3 {
        font-size: 37px;
    }

    /* PRODUCTS */
    .products {
        font-size: 14px !important;
    }

    .products h3 {
        font-size: 37px;
        font-weight: 300;
    }

    .products h4 {
        font-size: 18px !important;
        font-weight: 600;
    }

    /* CONTACT */
    .contact {
        font-size: 16px !important;
    }

    .contact h3 {
        font-size: 62px;
        font-weight: 200;
    }

    .contact ul li {
        font-size: 22px !important;
        font-weight: 300;
    }
}

@media only screen and (min-width: 1200px) {

    /* TOP FOLD */
    h1 {
        font-size: 52px;
        line-height: 62px;
    }

    h2 {
        font-size: 18px;
        line-height: 30px;
    }

    /* SERVICES */
    .services h3 {
        font-size: 52px;
    }

    /* ABOUT */
    .about {
        font-size: 33px;
        line-height: 57px;
    }

    .about h3 {
        font-size: 52px;
    }

    /* PRODUCTS */
    .products {
        font-size: 14px !important;
    }

    .products h3 {
        font-size: 52px;
        font-weight: 300;
    }

    .products h4 {
        font-size: 18px !important;
        font-weight: 600;
    }
}