body {
    color: #222222;
}

/* UTILITIES */
.text-primary {
    color: #15749d !important;
}

.bg-primary {
    background-color: #15749d !important;
}

.btn {
    padding: 10px 22px !important;
    font-size: 14px;
}

.btn-primary {
    background-color: #15749d !important;
    border-color: #15749d !important;
    transition: background-color .3s;
}

.btn-primary:hover {
    background-color: #126487 !important;
    border-color: #126487 !important;
}

/* BOOKMARKS */
span.bookmark {
    margin-top: -61.38px;
    padding-bottom: 61.38px;
    display: block;
}

/* LOADING SCREEN */
#loading-screen {
    z-index: 1032;
}

/* NAV */
.navbar .nav-link {
    transition: color .3s;
}

/* HEADINGS */
h1 {
    font-size: 40px;
    font-weight: 100;
    line-height: 48px;
}

h2 {
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
}

h3 {
    font-size: 32px;
    line-height: 36px;
}

/* TOP FOLD */
.mobile-hero {
    padding-top: 38px;
}

/* SERVICES */
.services {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.services h3 {
    font-weight: 400;
}

.services .scrolling-wrapper {
    overflow-x: auto;
}

/* ABOUT */
.about {
    font-size: 18px;
    line-height: 26px;
    background-color: #F2F2F2;
}

.about h3 {
    font-weight: 300;
}

/* PRODUCTS */
.products {
    font-size: 14px !important;
}

.products h3 {
    font-weight: 400;
}

.products h4 {
    font-size: 18px !important;
    font-weight: 600;
}

.products .card-footer {
    color: #222;
    transition: all .3s;
    background-color: #fff;
}

.products .card:hover .card-footer {
    background-color: #15749d;
    color: #fff;
}

/* CONTACT */
.contact {
    font-size: 16px !important;
}

.contact h3 {
    font-weight: 200;
}

.contact ul li {
    font-size: 18px !important;
    font-weight: 300;
}

.contact ul .fa-li {
    transition: color .3s;
}

.contact ul li:hover .fa-li {
    color: #15749d;
}

/* GOOGLE MAP */
#map,
.map-static {
    height: 400px;
    width: 100%;
}

.map-static {
    background-image: url("../images/map-img-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* LINKS */
.links {
    background-color: #f7f7f7;
    font-size: 14px;
}

.links .nav-link {
    color: #222222;
}


.links h5 {
    font-size: 18px;
}

/* FOOTER */
footer {
    border-top: 1px solid #DDDDDD !important;
    background-color: #f7f7f7;
    font-size: 14px;
}

footer .nav-link {
    color: #222;
}

/* ANIMATION */
.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media only screen and (max-width: 600px) {

    /* NAV */
    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-nav .nav-link {
        font-size: 24px;
    }

    .vh-sm-100 {
        height: 100vh;
    }

    .navbar-nav .btn {
        font-size: 15px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .btn-sm-block {
        display: block;
        width: 100%;
    }

    .px-sm-custom-5 {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media only screen and (min-width: 768px) {

    /* BOOKMARKS */
    span.bookmark {
        margin-top: -57.98px;
        padding-bottom: 57.98px;
    }

    /* NAV */
    .navbar .navbar-brand img {
        width: 115px !important;
    }

    /* HEADINGS */
    h2 {
        font-size: 18px;
        line-height: 30px;
    }

    h3 {
        font-size: 28px;
        line-height: 34px;
    }

    /* TOP FOLD */
    main.hero {
        background-image: url("../images/hero-img.jpg");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .vh-md-100 {
        height: 100vh !important;
    }

    /* SERVICES */
    .services {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }

    .services h3 {
        font-weight: 300;
    }

    /* ABOUT */
    .about {
        font-weight: 100;
        background-image: url("../images/hero-img-about.jpg");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .about h3 {
        font-weight: 100;
    }

    /* PRODUCTS */
    .products {
        font-size: 14px !important;
    }

    .products h3 {
        font-weight: 300;
    }

    .products h4 {
        font-size: 18px !important;
        font-weight: 600;
    }

    .products .card-footer {
        height: 100%;
    }

    /* CONTACT */
    .contact {
        font-size: 16px !important;
    }

    .contact h3 {
        font-weight: 200;
    }

    .contact ul li {
        font-size: 18px !important;
        font-weight: 300;
    }

    .map-static {
        background-image: url("../images/map-hero-img.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (min-width: 992px) {

    /* BOOKMARKS */
    span.bookmark {
        margin-top: -75.88px;
        padding-bottom: 75.88px;
    }

    /* NAV */
    .navbar .navbar-brand img {
        width: 205px !important;
    }

    /* HEADINGS */
    h3 {
        font-size: 37px;
    }

    /* TOP FOLD */
    h1 {
        font-size: 46px;
    }

    /* PRODUCTS */
    .products {
        font-size: 14px !important;
    }

    .products h3 {
        font-weight: 300;
    }

    .products h4 {
        font-size: 18px !important;
        font-weight: 600;
    }

    /* CONTACT */
    .contact {
        font-size: 16px !important;
    }

    .contact h3 {
        font-weight: 200;
    }

    .contact ul li {
        font-size: 22px !important;
        font-weight: 300;
    }
}

@media only screen and (min-width: 1200px) {

    /* HEADINGS */
    h3 {
        font-size: 52px;
    }

    /* TOP FOLD */
    h1 {
        font-size: 52px;
        line-height: 62px;
    }

    h2 {
        font-size: 18px;
        line-height: 30px;
    }

    /* ABOUT */
    .about {
        font-size: 24px;
        line-height: 30px;
    }

    /* PRODUCTS */
    .products {
        font-size: 14px !important;
    }

    .products h3 {
        font-weight: 300;
    }

    .products h4 {
        font-size: 18px !important;
        font-weight: 600;
    }
}